{% extends "::layout.html.twig" %}

{% block content %}
            
<div id="reglas" style="color: #FF1A96; font-style: italic; line-height: 1.4em;">
    <ol>
        <li>Hola, todos y todas son bienvenidos a <span class="resaltado">MYSEXYMIAMI.COM</span> si deseas contactarnos puedes hacerlo enviándonos un e-mail a: <span class='subrayado' style='color:blue'>admin@mysexymiami.com</span>.</li>
        <br />    
            <ul>
                <li>Tu pregunta o inquietud será respondida en un lapso menor de 24 horas.</li>
                <br />
                <li>Favor, abstenerse de escribir palabras o términos inapropiados que puedan poner en riesgo la credibilidad, el respeto o la seguridad de <span class="resaltado">MYSEXYMIAMI.COM</span> y/o el equipo que trabaja en ella.</li>
                <br />
                <li>Nos reservamos el derecho de responder alguna pregunta que consideremos inapropiada, vulgar o que no tengan nada que ver con el objetivo principal de este site de anuncios foto-clasificados.</li>
            </ul>    
        </li><br />
        <li>Si tienes alguna pregunta o comentario exclusivamente que tenga que ver con nuestra sección de comentarios, favor escribir a: <span class='subrayado' style='color:blue'>seccioncomentarios@mysexymiami.com</span>.</li>
        <br />
        <li>Recibiremos las preguntas y haremos todo lo posible de responder en un horario comprendido entre las 10:00 am y las 6:00 pm de lunes a viernes estrictamente.  Todos los e-mails recibidos durante los fines de semana, serán respondidos el lunes próximo.</li>
    </ol>

</div>            


{% endblock %}
