{% extends "::layout.html.twig" %}

{% block header %}
<div id="header">
    <img src="{{ asset('images/bocai_11.png') }}" />  
    <img src="{{ asset('images/mysexymiami5.png') }}" />
    <img src="{{ asset('images/bocad_11.png') }}" />
</div>
<div id="slogan">
    <p>   
    SOY TU SECRETO ONLINE...
    </p>
</div>
{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
<div id="reglas" style='font-style: italic; color: #FF3399;'>
    
<p class='negrita subrayado' align='center' style='font-size: 18px'>POLITICAS DE PRIVACIDAD</p>

<p align='center'>Revisadas por última vez el 1 Nov. 2012</p>

<br />

<p><span class='negrita'>Mysexymiami.com</span> y sus afiliados, incluyendo pero no limitado a <span class='negrita'>Francina Inc.</span> (a quien en lo sucesivo denominaremos como <span class='negrita'>“Site”</span>) respetan su privacidad. Aquí exponemos las Políticas de Privacidad para este sitio Web.<p>

    <p class='subrayado negrita'>1. Aceptación de Políticas de Privacidad: <p>

<p>Cada vez que usted accesa, usa, coloca una foto, pone un ad o escribe un comentario en este Site, eso significa que usted esta aceptando las Políticas de Privacidad establecidas actualmente en este sitio Web. Si usted no acepta estas Políticas de Privacidad, usted no esta autorizado para usar este Site y debe inmediatamente abandonarlo e interrumpir su uso.<p>

    <p class='subrayado negrita'>2. La Recolección y El Empleo de la Información Personal: <p>

<p>Nosotros recolectamos la información sobre usted, siempre que usted realice transacciones en este Site, si usted usa los servicios o productos de este Site, solicita información, coloca una orden o hace alguna compra, pone un anuncio o una foto, escribe algún comentario, crea un perfil y se registra, se comunica con nosotros, o visita este Site. La información personal que nosotros recogemos y podemos guardar, pueden incluir sin restricción (pero no necesariamente): su nombre completo, su dirección de correo electrónico (e-mail) el numero de su tarjeta de crédito o debito, con la cual haga transacciones en este Site, la dirección física de facturación de dichas tarjetas, así como cualquier otra información, no publica, sobre usted.</p>

    <p class='subrayado negrita'>3. Nosotros Podemos Usar la información que Recolectamos para: </p>

<ul>
    <li>Proveerla o suministrarla a servicios superiores.</li>

    <li>Informarle sobre nuevos servicios o productos que ofrecemos.</li>

    <li>Alertarle sobre algún contenido de prioridad, términos, condiciones nuevas a establecer.</li>

    <li>Contactarle para hablar acerca de su anuncio, fotos, comentarios o sobre la cuenta y el perfil que ha creado en nuestro Site.</li>

    <li>Responderle acerca de sus preguntas o inquietudes.</li>

    <li>Administrar, monitorear, y controlar este Site. Incluyendo los anuncios, fotos, comentarios y la información de su cuenta en este Site.</li>

    <li>Hacer cumplir los Términos de Uso de este Site.</li>
</ul>
<p>Usted autoriza a este Sitio Web para enviarle un correo electrónico (e-mail) y así responderle sus comunicaciones y administrar las actividades.</p>

    <p class='subrayado negrita'>4. Descubrimiento o Compartiendo  la Información Personal con Otras Personas: </p>

        <p>Podemos revelar su información personal a: operadores y/o agentes bajo confidencialidad o acuerdos similares, incluyendo: compradores, vendedores, compañías procesadoras de pagos, y anunciantes, quienes creemos razonablemente y responsablemente que tienen la necesidad de tener contacto con esta información. También podemos compartir su información con terceras personas para promocionar productos o servicios, anuncios o boletines, o para responder a sus comunicaciones.</p>
        
    <p class='subrayado negrita'>5. Compartiendo su Información en Circunstancias Especiales:</p> 

        <p>Podemos revelar también su nombre, dirección de correo electrónico, u otra información sobre usted, incluyendo la información personal, si: es requerido para hacer cumplir la ley, solicitado por una orden judicial o una citación, o solicitado por el gobierno, así como también por alguna autoridad investigadora. Si nosotros lo consideramos razonable para proteger los derechos de este Site, o si creemos que la revelación de su información es necesaria para identificar o ponerse en contacto con usted o contra alguien que pueda causar la interferencia con nuestros derechos o propiedades, o ha violado algún acuerdo, o i alguien mas pudiera ser dañado por tales actividades o interferencias.</p>

<p>También podemos  proporcionar la información sobre usted si creemos que es necesario para: investigar, impedir o tomar medidas en cuanto a actividades ilegales, fraude sospechado, situaciones que implican amenazas potenciales a la seguridad física de cualquier persona, o de otra manera requerido o permitido por la ley. Por favor tome en cuenta que cualquier información personal que USTED PONGA en este Site, es publica y puede ser recolectada, tomada o usada por terceras personas sobre las cuales nosotros no tenemos ningún tipo de control. Por lo tanto este Site no es ni se hace responsable del empleo  y/o uso de su información por parte de terceras personas.</p>

    <p class='subrayado negrita'>6. Colección y Uso de Información No-Personal (Cookies)</p>

        <p>Automáticamente nosotros recibimos y registramos la información no personal en nuestros servidores de navegación. La información no personal incluye sin restricción la dirección de su protocolo de internet (“IP”), la información de las conocidas “cookies” (<span class='negrita'>nota:</span> como se describen y definen abajo), las paginas que usted ha visitado, el tipo de sistema operativo que usa su computadora (ej.: Microsoft, Windows o Mac OS), el tipo de buscador que usted utiliza,  (ej.: Firefox, Chrome, Internet Explorer) el nombre del dominio del proveedor de servicio de internet, sus actividades mientras usa este Site,  y todo el contenido al que usted ha accesado.</p>

<p><span class='negrita'>Nota:</span> Cookies: También conocidas como Galletas, son los pequeños archivos de texto que permiten a los sitios web almacenar y recuperar la información sobre usted y su sistema informático. El sitio realmente sirve para rastrear el uso individual para la navegación posterior. Pero NO usamos las Cookies para recuperar cualquier información de su  computadora que otros originalmente hayan usado, como un código de usuario.</p>

    <p class='subrayado negrita'>7. Corrección / Actualización de la Información personal: </p>

    <p>Usted puede actualizar, corregir o cambiar su información personal en este Site en cualquier momento si así usted lo considera conveniente. Lo puede hacer automáticamente a través de su perfil o enviándonos un correo electrónico a <span class='subrayado' style='color:blue'>admin@mysexymiami.com</span>.</p>

    <p class='subrayado negrita'>8. Niños y Adolescentes: </p>

        <p>Este Site NO es para el uso de niños o adolescentes menores de 21 años de edad. Este Site NO esta orientado al uso de menores, es SOLO y exclusivamente limitado para adultos mayores de 21 años.  El material de este site es para un publico adulto. Por lo tanto los padres deben guardar y tomar la absoluta responsabilidad de supervisar el empleo y uso de los menores de edad en los computadores y uso de la Web,  este Site NO incluye, usa o recolecta alguna información sobre niños y menores de edad.</p>

        <p class='subrayado negrita'>9. Vinculación con Otros Sitios Web:</p> 

        <p>Este Site provee links y conexiones con otros sitios web pertenecientes a otras compañías y organizaciones, así como también con otro tipo de contenido. Este Site provee estos links para conveniencia de los usuarios, pero no controla ni maneja la información usadas en estos otros sitios web. Este Site no tiene ninguna relación ni responsabilidad  por la información que los otros sitios web publiquen, ni por los servicios o productos ofrecidos allí. Este Site no ofrece ninguna garantía  cuando usted haga link en otro sitio web, por lo tanto no es culpable ni responsable de virus o daños que puedan ser causados en su computadora.</p>       

            <p class='subrayado negrita'>10. El Comercio Electrónico y Nuestro Servidor: </p>

<p>Nosotros comprendemos que el almacenaje de los datos al realizar una transacción de comercio electrónico es importante, por eso debe hacerse de una manera segura. Nosotros almacenamos la información personal así como lo hacen la mayoría de las compañías e industrias. Todas las transacciones de comercio electrónico que se hacen en este sitio web son procesadas por nuestro servidor, el cual es seguro y confiable.</p>

    <p class='subrayado negrita'>11. Cambios en las Políticas de Privacidad: </p>

        <p>Nos Reservamos el derecho a modificar y/o enmendar en cualquier momento nuestras Políticas de Privacidad. Estas, pueden ser revisadas para cambiar o añadir información, servicios, o modificar alguna ley. Todo esto en función de una mejor practica y uso. Usted debería de vez en cuando comprobar cualquier modificación de estas Políticas visitando nuestra página web. Mostramos una fecha de vigencia, en la primera página, de modo que le sea más fácil a usted reconocer cuando fue hecho el último cambio. Cualquier cambio realizado, deja sin efecto y reemplaza cualquier versión anterior a la fecha publicada de la actualización de nuestras Políticas de Privacidad. Cada vez que usted accesa, usa o chequea nuestro Site, significa que usted esta aceptando todas sus políticas de privacidad, incluyendo las mas recientes.  Cualquier cambio hecho a las Políticas de Privacidad, surtirá efecto al momento de estar publicado.</p>

    <p class='subrayado negrita'>12. Tiene Usted Alguna Otra pregunta: </p>

        <p>Si tiene algún comentario o pregunta acerca de nuestras Políticas de Privacidad, puede enviarnos su inquietud por medio del correo electrónico <span class='subrayado' style='color:blue'>admin@mysexymiami.com</span>.</p>
        
    
    <br />
{% endblock %}
