<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="RATING" content="RTA-5042-1996-1400-1577-RTA" />
        <title>{% block title %}Mysexymiami{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
