jms_security_extra:
    secure_all_services: false
    expressions: true

security:
    providers:
        fos_userbundle:
            id: fos_user.user_manager

    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    firewalls:
        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_provider: form.csrf_provider
            logout:       true
            anonymous:    true

    access_control:
        - { path: ^/(es|en)/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(es|en)/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(es|en)/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(es|en)/admin/, role: ROLE_ADMIN }
        - { path: ^/(es|en)/anuncio/detalle, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(es|en)/anuncio, role: ROLE_USER }
        - { path: ^/(es|en)/comentario$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/(es|en)/comentario/new, role: ROLE_USER }
    
    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN
