/* 
    Document   : forms
    Created on : 24/09/2012, 08:17:07 PM
    Author     : piero
    Description:
        Purpose of the stylesheet follows.
*/
#fos_bundle {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#fos_bundle label {
    display: block;
    width: 14em;
}

#fos_bundle h2 {
    
    color:#9100B2;
}

#fos_bundle h3 {
    
    color:#9100B2;
}
