/* 
    Document   : layout
    Created on : 26/08/2012, 12:20:21 AM
    Author     : piero
    Description:
        Purpose of the stylesheet follows.
*/
body {
    font-family: "Arial, sans-serif";
    background: #ffbfdd; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc9e6 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc9e6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc9e6 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc9e6 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffc9e6 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffc9e6 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc9e6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */  
    background-repeat: no-repeat;
}

#header {
    float: left;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: transparent;
    margin-bottom: 3px;
    

}


#slogan {
    float: left;
    width:100%;
    margin: auto;
    font-style: italic;
    color: #FFFFFF;
    background-color: #FF1A96;
    font-family: "Comics Sans, Arial";
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    height: 50px;
    
    
}

#footer {
    float: left;
    width: 100%;
    margin: auto;
    text-align: center;
    border-top: thin solid #FF1A96;
    color: #9100B2;
    background-color: transparent;
    font-family: "Arial";
    font-size: 12px; 
    margin-top: 3px;

}

#menupie {
    float: left;
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: Arial;
    font-size: 12px !important;
    font-weight: normal;
    font-style: italic; 
    margin-top: 10px;
    margin-bottom: 10px;

}

#contenido {
    float: left;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 14px;
 
}

.resaltado {
    color: #fc2089 !important;
    background-color: #ffc9e6 !important;
    text-shadow: #000000;
    font-style: italic;
}

.resaltado2 {
    background-color: #ff00ff;
    color: #ffffff;
    text-decoration: none;
}

.resaltado3 {
    background-color: #9100B2;
    color: #ffffff;
    text-decoration: none;
}

.resaltadopie {
    color: #9100B2 !important;
    background-color: #ffc9e6;
    font-family: Arial;
    font-size: 14px !important;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}


.negrita {
    font-weight: bold;   
    
}

.cursiva {
    font-style: italic;
   
}

.subrayado {
    text-decoration: underline;

}


.intro {
    text-align: center;
    font-size: 16px; 
}

div#texto {
    float: left;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}
        
div#reglas {
    float: left;
    background: transparent;
    color: #D20BFF;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
    text-align: justify;
    overflow: auto;
    overflow-x: hidden;
}



#menu {
    float: left;
    margin: auto;
    text-align: center;
    display: block;    
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    width: 85%;
    height: auto;
    margin-left: 15%;
    /*border-top: 1px solid fuchsia;*/
    padding: 0;
}

#menu li {
    /* Indicamos que la posición de 'li' sea adjunte siempre a la izquierda */
    float: left;
    /* Eliminamos las marcas que genera el li como pueden ser las redonadas o recuadros */
    list-style-type: none;
}

/* Por defecto ul genera una separación hacia la derecha. con margin:0 queda anulada */
#menu ul {
    margin: 0;
    padding: 0;
}

#menu a {
    float: left;
    background-color: #FF2AD7;
    color: #FFFFFF;
    margin-right: 16px;
    margin-left: 25px;
    margin-bottom: 8px;
    display: block;
    text-decoration: none;
    padding: 3px 18px 3px 18px;
    text-align: center;
    height: auto;
    font-style: italic;
}


#menu a:hover {
    background-color: #FFFFFF;
    color: #FF2AD7;
    text-decoration: underline;
    
}


#menu2 {
    float: left;
    margin: auto;
    text-align: center;
    display: block;    
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    width: 76%;
    height: auto;
    margin-left: 24%;
    /*border-top: 1px solid fuchsia;*/
    padding: 0;
}

#menu2 li {
    /* Indicamos que la posición de 'li' sea adjunte siempre a la izquierda */
    float: left;
    /* Eliminamos las marcas que genera el li como pueden ser las redonadas o recuadros */
    list-style-type: none;
}

/* Por defecto ul genera una separación hacia la derecha. con margin:0 queda anulada */
#menu2 ul {
    margin: 0;
    padding: 0;
}

#menu2 a {
    float: left;
    background-color: #FF2AD7;
    color: #FFFFFF;
    margin-right: 16px;
    margin-left: 25px;
    display: block;
    text-decoration: none;
    padding: 3px 18px 3px 18px;
    text-align: center;
    height: auto;
    font-style: italic;
}


#menu2 a:hover {
    background-color: #FFFFFF;
    color: #FF2AD7;
    text-decoration: underline;
    
}


#enlaces {
    float: left;
    margin-left: 31%;
    text-align: center;
    display: block;    
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    width: 69%;
    height: auto;
    margin-bottom: 8px;

        
}

#enlaces li {
    /* Indicamos que la posición de 'li' sea adjunte siempre a la izquierda */
    float: left;
    /* Eliminamos las marcas que genera el li como pueden ser las redonadas o recuadros */
    list-style-type: none;
}

/* Por defecto ul genera una separación hacia la derecha. con margin:0 queda anulada */
#enlaces ul {
    margin: 0;
    padding: 0;
}

#enlaces a {
    
    float: left;
    background-color: #9100B2;
    color: #FFFFFF;
    margin-right: 10px;
    margin-left: 20px;
    display: block;
    text-decoration: none;
    padding: 3px 18px 3px 18px;
    text-align: center;
    font-style: italic;
  
    

}


#enlaces a:hover {
    background-color: #FFFFFF;
    color: #D20BFF;
    text-decoration: underline;    
}

#botones {
    float: left;
    margin: auto;
    text-align: center;
    display: block;    
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    background-color: transparent;
    width: 100%;
    height: auto;
    border: 1px solid red;
    
    
    
}


.boton {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow:  4px 4px 4px 2px rgba(0, 0, 0, 0.5);
    box-shadow:  4px 4px 4px 2px rgba(0, 0, 0, 0.5);
    border: 0px solid #FF349B;
    margin: 4px;
    padding: 1px 1px 1px 1px;
    width: 130px;
    height: 22px;
    text-decoration: none;  
}

.titulocomentarios {
    background-color: transparent;
    color: #ff1a96;
    text-decoration: none;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    
}

a:link {color: #ffffff; }      /* unvisited link */
a:visited {color: #ffffff; }  /* visited link */
a:hover {color: #ffffff; }   /* mouse over link */
a:active {color: #ffffff; } 

/*  F O R M U L A R I O S  -------------------------------------------------------------*/

form {
    margin-top: 10px;
    text-align: left;

    
    
}


input:focus, select:focus{
    background-color: #9100B2;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #FFFFFF;
    
}

form legend {
    background-color: transparent;
    color: #9100B2;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-family: "Comics Sans", Arial;
    text-align: left;

}

form fieldset {
    border: 1px solid #FF1A96;
    text-align: left;
    
        
    
}

form input {
    background-color: #FFFFFF;
    color: #9100B2;
    font-weight: bold;
    margin: 10px 0px 5px 7px;
    border: 1px solid #FF1A96;
    padding: 1px 2px 1px 2px;
    text-align: left;

}

form label {
    color: #FF1A96;
    font-weight: bold;
    text-align: left;
    text-align: left;
    
}

#listado-index {
    width: 990px;
    margin: auto;
    background: #ffffff;
    color: #9100B2;
    border: 1px;
    padding: 0;
}

#listado-index a {
    color: #FF2AD7;
    text-decoration: none;
}

#listado-index td {
    border-bottom: 1px dashed #9100B2;
    margin: 0;
    padding-bottom: 0.5em;
}

.pfoot {
    margin: 0;
}

#detalle-anuncio td {
    text-align: justify;
    padding: 0.5em;
}

#detalle-anuncio p {
    font-size: 1.5em;
}

#detalle-anuncio img {
    border: 0.5em #EBECEC solid;
    display: inline;
}

.detalle_titulo {
    color: #9100B2;
    font-weight: bold;
}
